*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    width: 88%;
    max-width: 1802px;
    margin: 0 auto;
}


.btn{
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    
}

.btn:hover {
    background-color: #469165b7;
}

.hero-text {
    margin: 0 auto;
}
/* Shared Style */

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}




/* ==========header section========== */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

}

header nav .menu-items ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 32px;
}


header nav .menu-items ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.banner {
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.top-btn {
    margin-top: 115px;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #30B868;
}

.banner h1 {
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
    max-width: 770px;
    text-transform: capitalize;
}

.banner h1 span{
    color: #30B868;
   
}

.banner p{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 30px; 
    max-width: 680px;
    margin-bottom: 32px;
}

.banner .btn {
    margin-bottom: 175px;
    margin-right: 16px;
    border: 1px solid #30B868;
}

.second{
    border: 1px solid #FFFFFF;
    background: none;
}




/* ==========notes section========== */

.notes {
    text-align: center;
    margin: 0 auto;
}

.notes .notes-title {
    margin-top: 50px;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.notes .notes-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.notes .notes-items {
    justify-content: space-between;
    display: flex;
    margin-top: 44px;
}

.notes .notes-card{
    padding: 70px 30px;
    max-width: 322px;
    max-height: 300px;
    box-shadow: 0 6px 50px #00000027;
    border-radius: 10px;

}
.notes .icon-bg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F95555;
    margin: 0 auto;
}
.notes img {
    padding: 20%;
}

.notes .notes-items h3{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;

}

.notes-card p{
    padding-bottom: 70px;
}

/* ==========brain section========== */
.brain{
    display: flex;
    justify-content: space-evenly;
    margin-top: 72px;
    gap: 60px;
    margin-bottom: 120px;
}

.brain-heading{
    text-transform: uppercase;
    color: #30B868;
    font-size: 16px;
    margin-top: 102px;
}

.brain h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    margin: 16px 0;
}

.brain .left-side {
    width: 40%;
    margin: 0 auto;
}

.brain .left-side img{
    width: 600px;
}

.brain .right-side {
    width: 60%;
}

.brain-text{
    margin-bottom: 40px;
    max-width: 550px;
}

.tick-mark {
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
    gap: 10px;
}

/* ==========early section========== */
.early-access {
    padding: 80px 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.early-access h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
    text-transform: capitalize;
    color: #001931;
    margin-bottom: 16px;
}

.early-text {
    text-align: center;
    margin-bottom: 24px;
}

.early-access button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ==========footer section========== */

footer {
    background-color: #001931;
}


footer .footer {
    margin-top: 120px;
    padding: 120px 120px 80px 120px;
    display: flex;
    justify-content: space-between;

}

footer .social-icons{
    color: #FFFFFF;   
}


footer .social-icons i{
   margin-right: 10px;
    
}

footer .footer-text {
    padding: 16px;
    text-align: center;
    color: #FFFFFF;
}







